<%- include("header") %>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <% items.forEach(element=> { %>
    <div class="item">
        <input type="checkbox" />
        <p><%= element %></p>
    </div>
    <% }); %>
    <form class="item" action=<%= action %> method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
        <button class="text-padding" type="submit" name="button">
            +
        </button>
    </form>
</div>

<%- include("footer") %>